span{
    color: red;
    font-size: large;
}
.subhead{
    font-family:  sans-serif;
}
#para{
    background-color: aqua;
    color: blue;
}
span,.subhead,h1,h2{
    background-color: cyan;
}
*{
    background: lightgray;
}
div p{
    color: maroon;
}
div > p{
    color: olive;
}
input[type="text"]{
    color: lightcoral;
}
h1 + p{
    color: midnightblue;
}
h1 ~ p{
    color: firebrick;
}